@model NetFusion.Identity.Client.Models.Authentication.ResetPasswordModel

<div id="restPassword" class="page-content row d-xl-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <h2>Reset Password</h2>
            <hr/>
            <div class="alert alert-info" role="alert">
                Please enter your email address and enter a new password.
                Once complete.
            </div>
        </section>
        <section>
            <form method="post" asp-action="ResetPassword">
                <div class="form-floating">
                    <input asp-for="Email" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="Email" class="form-label">Email</label>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" type="password" autocomplete="off" class="form-control"
                           aria-required="true" />
                    <label asp-for="Password" class="form-label">Password</label>
                </div>
                <div class="form-floating">
                    <input asp-for="ConfirmedPassword" type="password" autocomplete="off" class="form-control"
                           aria-required="true" />
                    <label asp-for="ConfirmedPassword" class="form-label">Renter Password</label>
                </div>
                
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </section>
    </div>
</div>





