<div id="sendPasswordRecovery" class="page-content row d-xl-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <h2>Password Recovery Email</h2>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="alert alert-info" role="alert">
                If you have forgotten your passoword, enter the email
                address used during registeration. An email will be 
                sent with instructions on how to reset your password.
            </div>
        </section>
        <section>
            <form method="post" asp-action="SendPasswordRecovery">
                <div class="form-floating">
                    <input name="email" class="form-control" autocomplete="off" aria-required="true"/>
                    <label class="form-label">Enter Email Address</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send Email</button>
            </form>
        </section>
    </div>
</div>



