@model NetFusion.Identity.Client.Models.Authentication.LogoutModel

<div id="restPassword" class="page-content row d-xl-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <h2>Logout</h2>
            <hr/>
        </section>
        <section>
            <form method="post" asp-action="Logout">
                <div class="alert alert-info" role="alert">
                    When logging in, you selected that Two Factor authentication should
                    be remember.  If you want to change this selection, check the Forget
                    Client check box prior to logging out.
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="ForgetTwoFactorClient" class="form-label">
                            <input class="form-check-input" asp-for="ForgetTwoFactorClient"/>
                            Forget Client
                        </label>
                    </div>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Logout</button>
            </form>
        </section>
    </div>
</div>